{% extends 'base.html.twig' %}

{% block title %}Accueil - Snow Tricks{% endblock %}

{% block body %}
<style>
    .section {
        margin-bottom: 50px;
        margin-top: 20px;
    }
    #test-center {
        position: absolute;
        bottom: 35%;
        left: -15%;
    }
    #main-pic {
        background-image: url("{{ asset('../../img/main/main-bg.jpg') }}");
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 80vh;
    }
    .card {
        margin-bottom: 30px;
        margin-top: 20px;
    }
    div.trick {
        display: none;
    }
    .span-title {
        color: #313131;
    }
    #down-btn {
        position: absolute;
        bottom: 8%;
        right: 3%;
    }
    #up-btn {
        position: absolute;
        bottom: -10%;
        right: 0%;
    }
</style>

<div class="section" id="main-pic">
    <div class="row">
        {% if passchange %}
        <div class="col-12">
            <div class="alert alert-success">
                Un email vous a été envoyé pour changer votre mot de passe!
            </div>
        </div>
        {% endif %}
        <div class="col text-center" id="test-center">
            <h1>Snow Tricks</h1>
            <span class="span-title">Votre site sur le snowboard</span>
        </div>
        <a href="#main-trickList" id="down-btn"><i class="far fa-arrow-alt-circle-down fa-w-16 fa-3x" id="down-icon"></i></a>
    </div>
</div>
    <div class="section">
        <div class="row justify-content-center" id="main-trickList">
            {% for trick in tricks %}
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-8 trick" id="main-card">
                    <div class="card">
                        <img src="http://placehold.it/350x300" class="card-img-top" style="height: 300px" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ trick.name }}</h5>
                            <div class="row">

                                <a class="col-5" href="/tricks/{{ trick.name }}">
                                    <button type="button" class="btn btn-primary">
                                        {{ trick.name }}
                                    </button>
                                </a>
                                {% if user %}
                                    <a class="col-3" href="tricks/update/{{ trick.name }}">
                                        <button class="btn btn-danger"><i class="fas fa-pencil-alt fa-sm"></i></button>
                                    </a>
                                    <a class="col-3" href="tricks/delete/{{ trick.name }}">
                                        <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            <small>Dernière modification :{{ trick.createdAt | date("d/m/Y") }}</small>
                            <p><small>par : {{ trick.author.username }}</small></p>
                        </div>
                    </div>
                </div>
            {%  endfor %}
            </div>
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                <a href="#" class="btn btn-warning" id="loadMore" style="color: white;text-decoration: none;">Voir plus de tricks</a>
                </div>
                <div class="col-12">
                <a href="#main-trickList" class="d-none" id="up-btn">
                    <i class="far fa-arrow-alt-circle-up fa-w-16 fa-3x"></i>
                </a>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
        $(function () {
            $("div.trick").slice(0, 6).show();
            $("#loadMore").on('click', function (e) {
                e.preventDefault();
                $("div.trick:hidden").slice(0, 6).slideDown();
                // put the method to display the #upList
                if ($("div.trick:hidden").length === 0) {
                    $("#loadMore").hide('slow');
                    $("#up-btn").removeClass('d-none');
                }
            });
        })
    </script>

{% endblock %}
