{% extends 'base.html.twig' %}

{% block title %} {{ trick.name }} {% endblock %}

{% block body %}
    <style>
        #trick-main {
            margin-top: 30px;
        }
        #trick-comment {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        #comment-block {
            margin-top: 20px;
        }
        div.coms {
             display: none;
         }
    </style>

    <section id="trick-main">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">{{ trick.name }}</h5>
                    </div>
                    <img src="
                        {% for pic in trick.trickPics %}
                            {% if loop.index == 1 %}
                                /upload/{{ pic.picName }}
                            {% endif %}
                        {% else %}
                            {{ asset('img/NoIMG/NoImgYet.jpg') }}
                        {% endfor %}
                    " class="card-img-top" style="height: 400px" alt="...">
                    <div class="card-body">
                        <div class="col text-center">
                        <button class="btn btn-primary d-lg-none d-xl-none d-md-none d-sm-block" type="button" data-toggle="collapse" data-target="#loadMedia" aria-expanded="true" aria-controls="loadMedia">
                            Voir les médias
                        </button>
                        </div>
                        <div class="collapse" id="loadMedia">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <h4>Les médias</h4>
                                </div>
                                <div id="carouselExampleIndicators" class="carousel slide" style="width: 100%;min-height: 300px" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        {% for trickPic in trick.trickPics %}
                                        <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index }}" class="{%if loop.index == 1%} active {%endif%}"></li>
                                        {% endfor %}
                                    </ol>
                                    <div class="carousel-inner">
                                        {% for trickPic in trick.trickPics %}
                                        <div class="carousel-item {%if loop.index == 1%} active {%endif%}">
                                            <img class="d-block w-100" style="max-height: 600px" src="/upload/{{ trickPic.picName }}" alt="First slide">
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Précedant</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Suivant</span>
                                    </a>
                                </div>
                            </div>

                            <div class="row justify-content-center" style="margin-top: 30px">


                                    {% for trickVideo in trick.trickVids %}
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 text-center">
                                <iframe width="260" height="200" src="http://{{ trickVideo.url }}" frameborder="0" allow="autoplay" allowfullscreen></iframe>
                            </div>
                                {% endfor %}
                     </div>
                        </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-3">
                                    <p>Le trick :</p>
                                </div>
                                <div class="col-9">
                                    <p>{{ trick.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p>
                            <small>
                                Trick créer par : {{ trick.author.username }}, le: {{ trick.createdAt | date("d/m/Y") }}
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr>

    <section id="trick-comment">
        <div class="row justify-content-center">
            <div class="col-10" style="display: flex">
                {% if user %}
                    <div class="col-10 text-center">
                        {{ form_start(commentForm) }}
                            <label for="">Votre message</label>
                            {{ form_widget(commentForm.content) }}
                    </div>
                    <div class="col-2 text-center">
                        <button class="btn btn-primary" type="submit">envoyer</button>
                    </div>
                        {{ form_end(commentForm) }}
                {% else %}
                    <div class="col text-center">
                        <p>Merci de vous enregistrer afin de pouvoir échanger avec la communauté sur ce Trick!</p>
                    </div>
                {% endif %}
            </div>
            <div class="col-10 text-center" id="comment-block">
                {% if comments == null %}
                    <p>Pas de commentaires pour le moment!</p>
                {% else %}
                        <div class="row">
                    {% for comment in comments %}
                            <div class="col-12 coms">
                                <div class="row">
                            <div class="col-2">
                                <img src="/upload/{{ comment.author.profilePic.name }}" class="rounded-circle" style="height: 40px" alt="">
                            </div>
                            <div class="col-4">
                                <p>{{ comment.author.username }}</p>
                                <small>date de publication : {{ comment.createdAt | date("d/m/Y") }}</small>
                            </div>
                            <div class="col-6">
                                <p>{{ comment.content }}</p>
                            </div>
                                </div>
                            </div>
                    {% endfor %}
                            <div class="col-12 text-center">
                                <a href="#" class="btn btn-warning" id="loadComs" style="color: white;text-decoration: none;">Voir plus de tricks</a>
                            </div>
                        </div>
                {% endif %}
            </div>
        </div>
    </section>


{% endblock %}
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
    // pour moreComments
    $(function () {
        $("div.coms").slice(0, 6).show();
        $("#loadComs").on('click', function (e) {
            e.preventDefault();
            $("div.coms:hidden").slice(0, 6).slideDown();
            if ($("div.coms:hidden").length === 0) {
                $("#loadComs").hide('slow');
            }
        });
    });
</script>
{% endblock %}
