{% extends 'base.html.twig' %}

{% block title %} {{ trick.name }} {% endblock %}

{% block body %}
    <style>
        #trick-main {
            margin-top: 30px;
        }
        #trick-comment {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        #comment-block {
            margin-top: 20px;
        }
    </style>

    <section id="trick-main">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="card">
                    <img src="" class="card-img-top" style="height: 400px" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ trick.name }}</h5>
                        <p>{{ trick.description }}</p>
                    </div>
                    <div class="card-footer">
                        <p>
                            <small>
                                Trick créer par : {{ trick.author.username }}, le: {{ trick.createdAt | date("d/m/Y") }}
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr>

    <section id="trick-comment">
        <div class="row justify-content-center">
            <div class="col-10" style="display: flex">
                {% if user %}
                    <div class="col-10 text-center">
                        {{ form_start(commentForm) }}
                            <label for="">Votre message</label>
                            {{ form_widget(commentForm.content) }}
                    </div>
                    <div class="col-2 text-center">
                        <button class="btn btn-primary" type="submit">envoyer</button>
                    </div>
                        {{ form_end(commentForm) }}
                {% else %}
                    <div class="col text-center">
                        <p>Merci de vous enregistrer afin de pouvoir échanger avec la communauté sur ce Trick!</p>
                    </div>
                {% endif %}
            </div>
            <div class="col-10 text-center" id="comment-block">
                {% if comments == null %}
                    <p>Pas de commentaires pour le moment!</p>
                {% else %}
                    {% for comment in comments %}
                        <div class="row">
                            <div class="col-4">
                                <p>{{ comment.author.username }}</p>
                                <small>date de publication : {{ comment.createdAt | date("d/m/Y") }}</small>
                            </div>
                            <div class="col-8">
                                <p>{{ comment.content }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}